*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

/* stili tag */

header img{
    width: 300px;
}

ul{
    list-style-type: none;
    margin: 50px 0;
}
li{
    display: inline-block;
}

a{
    font-size: large;
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    padding: 10px;
}

/* stili classi */
.containerHeader{
    margin: 0 120px;
}

.navigation{
    width: auto;
}

.container{
    margin: 0 120px;
    width: auto;
    height: 1700px;
}

.containerHero{
    height: 40%;
    background-image: url(../img/banner.jpg);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center; 
    margin-bottom: 25px;
    position: relative;

}

.backgroundFix:before{
    content: "";
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* .darkimg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
} */

.heroText{
    width: 50%;
    position: absolute;
    bottom: 50px;
    left: 30px;
}

.heroText h2{
    font-size: xx-large;
    font-weight: normal;
    color: white;
}

.heroText p{
    color: white;
}

.containerMain{
    width: auto;
    height: calc(60% - 25px);
    background-color: rgb(56, 139, 242);
}


.containerMain div:first-child{
    width: auto;
    height: calc(100% / 8);
    background-color: rgb(178, 206, 228);
    margin-bottom: 20px;
}

.containerMainProperties{
    width: calc(20% - 10px);
    height: calc(100% - 13% - 40px);
    background-color: rgb(178, 206, 228);
    float: left;
}

.mainArea{
    width: calc(60% - 10px);
    margin: 0 15px;
}

.footer{
    text-align: center;
    margin: 20px;
}

.redHeart{
    color: red;
}